*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties


.idea
build
captures
xcuserdata

deepai.key
xcuserdata
firebase_service_account_key.json
gcp_service_account_key.json
*.iml
.gradle
/local.properties
.DS_Store
/build
**/build
/captures
.externalNativeBuild
.cxx
local.properties
apollo.key
apollo.key.unused
sentry.properties

# Idea
**/.idea/*
!**/.idea/codeStyles
!**/.idea/icon.png
!**/.idea/runConfigurations
!**/.idea/scopes

keystore.properties
api-*.json
*.db

.terraform
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup

swiftpm
/.kotlin/
.sentryclirc